.productInfoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 12px;
}
.listsContainer {
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  width: 32.8%;
}
.productsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.infoContainerName {
  background-color: rgb(156, 152, 152);
  text-align: center;
  font-size: 20px;
  padding: 5px 0;
  border-radius: 5px;
}
.titleLabel {
  height: 20px;
  padding: 0 5px;
}
